body {
  font-family: "Google Sans", arial, sans-serif;
  background-color: rgb(201, 213, 252);
}

h1 {
  color: #000000;
  display: block;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
  line-height: 26px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(95, 95, 95);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
  vertical-align: baseline;
}
a {
  text-decoration: none;
}
#predition li {
  margin-right: 0px;
  padding-right: 0px;
  display: block;
  text-align: right;
}
#icon {
  filter: drop-shadow(5px 5px 5px rgb(153, 176, 252));
}
.weather-app {
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
.weather-app-rapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-icon {
  margin-right: 5px;
  height: 65px;
  width: 65px;
  vertical-align: top;
}
.overview {
  margin-bottom: 20px;
}
.weather-app strong {
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  margin-left: 0px;
  vertical-align: top;
}
.weather-temperature .units {
  color: #000000;
  line-height: 24px;
  vertical-align: top;
  font-size: 16px;
  top: -30px;
}
.units a {
  text-decoration: none;
}
.no-cap {
  text-transform: lowercase;
}

.units .active {
  color: #202124;
  cursor: default;
}
.units .active:hover {
  cursor: default;
}
